* {
  box-sizing: border-box;
} 

input:focus {
  background: blue;
}

html,body {
  margin:0;
  padding:0;
  overflow-x:hidden;
}

.header {
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(1, 17, 53);
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    font-size: 150%;
}

select {
color: grey;
}

.fullname {
  margin: 1.2%;  
} 

#center-input {
  margin-left: 5%;
}

fieldset {
  border: none;
}

div.item12 {
  margin-left: .2%;
}

#fname,#email,#number,#streetaddress,#city,#state,#zipcode {
  background-color: #ccc;
}

#checkbox {
  margin-left: 5%;
}

#headline {
  padding-top:6%;
  padding-bottom:6%;
  font-size:150%;
  color: rgb(1, 17, 53);
}

#headline1 {
  font-weight: bold;
}

#headline2 {
  margin-left: 4%;
}

.lower-part {
  margin-left: -3%;
}

textarea {
  width: 90%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin-left: 4%;
  margin-right: 4%;
}

.subheader {
    text-align: center;
    font-size: 150%;
    color: rgb(1, 17, 53); 
}

.text {
    text-align: center;
    font-size: 120%;
    width: 94%;
    word-wrap: break-word; 
    color: rgb(158, 152, 152);
    margin-bottom: 12%;
    margin-left: 1%;
}

.item12 {
  margin: 0 0 0 5%;
  width: 100%;
}

.a {
    border: 5px solid rgb(1, 17, 53);
    width: 90%;
}

.b {
    border: 1px solid rgb(1, 17, 53);
    width: 90.8%;
    margin-bottom: 5%;
}

.c {
  border: 1px solid rgb(1, 17, 53);
  width: 90.8%;
  margin-top: 5%;
  margin-bottom: 5%;
}

#newsletter-underline {
  margin-left: 5%;
}

#html1, #Plain-text1 {
  margin-left: -4%;
}

.hidden {
  color: #9e9e9e;
}

input[type=text], input[type=email],input[type=tel], select {
    width: 90.5%;
    font-size: 120%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=number] {
    width: 50%;
    font-size: 120%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    font-size: 120%;
    background-color: rgb(82, 206, 137);
    color: white;
    padding: 1px 20px;
    margin: 7% 3% 3% 4%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #submit1 {
    margin-top: 4%;
    width: 90%;
    border-radius: 5px;
    height: 90px;
  }

  label {
    font-size: 16px;
  }

  #text {
    margin-left: 5%;
  }

  #fname,#email {
    text-align: right;
  }

  #form1, #form2, #form3, #form4, #form5 {
    margin-top: 2%;
  }

  #textarea {
    margin-top: 2%;
    margin-left: -4%;
  }

  #newsletter {
    margin-left: 8%;
  }

  #radiobuttons {
    margin-left: 9%;
    margin-top: -3%;
    margin-bottom: 2%;
  }

  .form-text {
    margin-left: 9%;
    word-wrap: break-word;
    
  }

  #form-text {
    margin-top: 4%;
  }

  footer {
    text-align: center;
    color: grey;
    font-size: small;
    margin-top: 10% ;
    margin-bottom: 40%;
  }


  @media (min-width: 375px) {
    
    .upper-part {
      margin-left: 2%;
    }

    .lower-part {
      margin-left: -2%;
    }

    }

    @media (min-width: 425px) {
    
      .text {
        text-align: center;
        font-size: 120%;
        width: 93%;
        word-wrap: break-word; 
        color: rgb(158, 152, 152);
        margin-bottom: 12%;
        margin-left: 1%;
    }

    }

    @media (min-width: 515px) {
    
      #headline1 {
        margin-left: -1%;
      }
      
      .a, .b {
        width: 87%;
        margin-left: 3%;
      }
    
      }

  @media (min-width: 768px) {
    
    .header {
      font-size: 200%;
    }

    label {
      margin-left: -7%;
    }

    #checkbox {
      margin-bottom: 4%;
    }

    .subheader {
      font-size: 200%;
    }

    .text {
      font-size: 150%;
    }

    #headline {
      font-size: 180%;
      margin-left: 2.3%;
    }

   .text {
      width: 90%;
      word-wrap: break-word;  
    }

    #fname, #email, #state {
      font-size: 110%;
      color:rgb(93, 91, 91);
    }

    .desktop {
      width: 70%;
      margin: auto;
    }

    .a {
      border: 5px solid rgb(1, 17, 53);
      width: 90%;
      margin-left: -1%;
      margin-top: -5%;
  }
  
  .b {
      border: 1px solid rgb(1, 17, 53);
      width: 90%;
      margin-left: -1%;
  }

  .c {
    border: 1px solid rgb(1, 17, 53);
    width: 62%;
    margin-left: 15%;
  }

  input[type=text], input[type=email] {
    width: 110%;
    margin-left: -20%;
    font-size: 20px;
  }

  #html-news, #css-news, #Javascript-news, #html, #Plain-text {
    font-size: 120%;
    margin-left: 35px;
  }

  .upper-part {
    margin-left:1%;
    margin-right: -1.5%;
  }

  .lower-part {
    margin-left:-1.5%;
  }

  #newsletter {
    font-size: 120%;
    margin-left: -2%;
  }

  #newsletter-underline {
    font-size: 120%;
    margin-left: 2.5%;
  }

  #html1, #Plain-text1 {
    margin-left: -1.3%;
  }

  #form-text {
    font-size: 120%;
    margin-left: -2%;
  }

  textarea {
    width: 102%;
    margin-left: 1.3%;
  }

  #submit1 {
    width: 80%;
    margin-left: 9%;
    font-size: 140%;
  }

  .item1 {
  margin-top: 8%;
  }

  .item2 {
    width: 101%;
    margin-left: -6%;
  }

  .item3 {
    margin-top: 8%;
    }

  .item4 {
    width: 101%;
    margin-left: -6%;
  }

  .item5 {
    margin-top: 8%;
    }

  .item6 {
    width: 123%;
    margin-left: -26%;
  }

  .item7 {
    margin-top: 8%;
    }

  .item8 {
    width: 101%;
    margin-left: -6%;
  }

  .item9 {
    margin-top: 8%;
    }

  .item10 {
    width: 101%;
    margin-left: -6%;
  }

  .item11 {
    margin-top: 8%;
    }

  .item12 {
    width: 122%;
    margin: 2%;
    left: -26%;
    position: relative;
  }

  .item13 {
    margin-top: 11%;
    }

  .item14 {
    margin-left: -25%;
  }

  #newsletter {
    margin-left: 4%;
  }

  .grid-container {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    margin-left: -1%;
  }

  #headline1 {
    margin-left: -3.3%;
    padding-top:6%;
    padding-bottom:6%;
    font-size:150%;
    color: rgb(1, 17, 53);
  }

  #html_news, #Javascript_news, #css_news,#plain_text, #html {
    margin-left: 3%;
  }

  #headline2 {
    margin: 16%;
    padding-bottom:6%;
    font-size:150%;
    color: rgb(1, 17, 53);
  }

  #newsletter-underline {
    margin-top: -20%;
    margin-left: 16%;
  }

  #checkbox {
    margin-left:11%;
  }

  #newsletter {
    margin-top: -5%;
    margin-left: 17%;
  }

  .form-text {
    margin-left: 17%;
    font-size: 120%;
  }

  #form-text {
    margin-top: 2%;
    width: 63%;
    margin-left: 16%;
  }
  
  #submit {
    margin-top: .6%;
    width: 80%;
    margin-left: 8.6%;
  } 

  footer {
    margin-top: 4%;
    margin-bottom: 12%;
  }

  #radiobuttons {
    margin-top: -2%;
    margin-left: 17%;
    margin-bottom: 2%;
  }

  .item1 {
    grid-column: 1 / span 1;
    grid-row: 1;
  }
  
  .item2 {
    grid-column: span 1 / span 2;
    grid-row: 1;
  }
  
  .item3 {
    grid-column:  1 / span 1;
    grid-row: 2;
  }

  .item4 {
    grid-column: span 1 / span 2;
    grid-row: 2;
  }

  .item5 {
    grid-column: 1 / span 1;
    grid-row: 3;
  } 

  .item6 {
    grid-column: span 1 / span 2;
    grid-row: 3;
  }

  .item7 {
    grid-column: 1 / span 1;
    grid-row: 4;
  } 

  .item8 {
    grid-column: span 1 / span 2;
    grid-row: 4;
  }

  .item9 {
    grid-column: 1 / span 1;
    grid-row: 5;
  }

  .item10 {
    grid-column: span 1 / span 2;
    grid-row: 5;
  }

  .item11 {
    grid-column: 1 / span 1;
    grid-row: 6;
  }

  .item12 {
    grid-column: span 1 / span 2;
    grid-row: 6;
  }

  .item13 {
    grid-column: 1 / span 1;
    grid-row: 7;
  }

  .item14 {
    grid-column: span 1 / span 2;
    grid-row: 7;
  }

  footer {
    font-size: large;
  }

  }

  @media (min-width: 800px) {
  
    #checkbox {
      margin-left:12%;
    }

  }

  @media (min-width: 1000px) {
  
    #checkbox {
      margin-left:13%;
    }

  }

  @media (min-width: 1199px) {

    #checkbox {
      margin-left:13.3%;
    }
  }